name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: ssh-copy-id-rs
            asset_name: ssh-copy-id-rs-linux-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: ssh-copy-id-rs.exe
            asset_name: ssh-copy-id-rs-windows-amd64.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: ssh-copy-id-rs
            asset_name: ssh-copy-id-rs-macos-amd64
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: ssh-copy-id-rs
            asset_name: ssh-copy-id-rs-macos-arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }} --verbose

      - name: Rename binary
        shell: bash
        run: |
          cp target/${{ matrix.target }}/release/${{ matrix.artifact_name }} ${{ matrix.asset_name }}

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.asset_name }}
